
#Campaign{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    overflow-x:hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* the scroll is hidden now */
}
.bd-text{
    display: inline; 
    font-size: 11px;
    height:auto 
}
h1{
    color:bisque

}
/* image width */
.bd-650{
    width:650px;
}
.bd-500{
    width:500px;
}
.bd-300{
    width:300px;
}
.bd-border{
    border-top:3px rgb(43, 60, 60);
    border-bottom: 3px rgb(43, 60, 60);
    background-color: rgb(43, 60, 60); 
}
.bd-line-through{
    text-decoration: line-through;
}
span{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    }
a:hover{
    text-decoration:none;
}    
h4{
    margin-left:80px;
    margin-top:60px;
    margin-bottom:50px;
}
.bd-footeri{
    margin-left: 44%;
    /* padding-bottom: 25%; */
    /* The space after the footer */
    font-size: 30px;
}
.bd-last{
    margin-left:38%;
    padding-top:50px;
    font-size:30px;
}
footer{
    background-color:rgb(43, 60, 60);
    padding-bottom: 80px;
}
